<div>
    <h4>@LiteratureDownload.FileName</h4><DownloadReference FileName="@LiteratureDownload.FileName"></DownloadReference>
    <p><strong>Title:</strong> @LiteratureDownload.Title</p>
    <p><strong>PMC Id:</strong> @LiteratureDownload.PmcId</p>
    <p><strong>DOI: </strong> @LiteratureDownload.Doi</p>
    <a href="downloadfile/@LiteratureDownload.FileName" target="_blank" class="btn btn-primary">View Full Text</a>
</div>


